<div class="container px-4">
    <h3 class="text-center pt-5">Bienvenido (nombre apellido1 apellido2)</h3>
    <div class="row align-items-center justify-content-center">
        <div class="col-1"></div>
        <div class="col-md-4">
            <div class="card1 justify-content-center rounded-5 shadow">
                <a href="https://getbootstrap.com/docs/5.3/components/card/">
                    <h1 class="text-white">EVENTOS</h1>
                </a>
            </div> 
        </div>
        <div class="col-md-4">
            <div class="card2 justify-content-center rounded-5 shadow">
                <a href="https://getbootstrap.com/docs/5.3/components/card/">
                    <h1 class="text-white">FORMACIÓN</h1>
                </a>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
