<div class="container px-4">
    <h3 class="text-center pt-5">Bienvenido {{nombre_usuario}} {{apellidos}}</h3>
    <div class="row align-items-center justify-content-center">
        <div class="col-1"></div>
        <div class="col-md-4">
            <div [routerLink]="['/listado_eventos']" style="cursor: pointer;" class="card1 justify-content-center rounded-5 shadow">
                    <h1 class="text-white">EVENTOS</h1>
            </div> 
        </div>
        <div class="col-md-4">
            <div [routerLink]="['/listado_formaciones']" style="cursor: pointer;" class="card2 justify-content-center rounded-5 shadow">
                <h1 class="text-white">FORMACIÓN</h1>
            </div>
        </div>
        <div class="col-1"></div>
</div>