<div class="bg-image" style="background-image: url('https://images.pexels.com/photos/189349/pexels-photo-189349.jpeg'); height: 100vh; background-size: cover; background-repeat: no-repeat;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 text-start mb-5">
                <a href=""><img src="assets/images/logoVoluntaris.png" width="325" height="111" alt=""></a>
            </div>
            <div class="col-md-2 offset-md-8 text-end mt-5 mb-5">
                <a href=""><i id="exit" class="fa-solid fa-right-from-bracket fa-2xl"></i></a>
            </div>    
        </div>
        <div class="col d-flex justify-content-center align-items-center">
            <div class="card text-center" style="width: 35rem;">
                <div class="card-body">
                    <h3 class="card-title mb-4" style="color:#4774b7">Bienvenido a Voluntaris de la Mar</h3>
                    <form action="" method="post">
                        <div class="form-group mb-4">
                            <input type="text" class="form-control form-control-lg" id="username" name="_username" value="" placeholder="Email">
                        </div>
                        <div class="form-group mb-4">
                            <input type="password" class="form-control form-control-lg" id="password" name="_password" placeholder="Password">
                        </div>
                        <div>
                            <button id="login" type="submit" class="btn btn-lg mb-2" >Entrar</button>
                        </div>
                        <small id="emailHelp" class="form-text text-muted">© 2023 Voluntaris de la Mar</small>
                        <!-- {% if error %} -->
                        <div><h3 class="card-title mb-4" style="color:#4774b7"></h3></div>
                        <!-- {% endif %} -->
                        <input type="hidden" name="_target_path" value="/menu"> 
                        <input type="hidden" name="_csrf_token" value="">
                    </form>

                </div>
            </div>
        </div>  
    </div>
