<div class="container px-4">
    <h3 class="text-center pt-5">Bienvenido (nombre apellido1 apellido2)</h3>
    <div class="row align-items-center justify-content-center">
        <div class="col-1"></div>
        <div class="col-md-4">
            <div class="card1 justify-content-center rounded-5 shadow">
                <a href="https://getbootstrap.com/docs/5.3/components/card/">
                    <h1 class="text-white">EVENTOS</h1>
                </a>
            </div>
            <div class="d-flex justify-content-center">
                <a href="#" class="text-dark"><img width="20px" height="20px" src="../../../assets/images/plus.png"> EVENTOS</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card2 justify-content-center rounded-5 shadow">
                <a href="https://getbootstrap.com/docs/5.3/components/card/">
                    <h1 class="text-white">FORMACIÓN</h1>
                </a>
            </div>
            <div class="d-flex justify-content-center">
                <a href="#" class="text-dark"><img width="20px" height="20px" src="../../../assets/images/plus.png"> FORMACIÓN</a>
            </div>
        </div>
        <div class="col-1"></div>
    </div>


    <div class="row pt-5">
        <div class="col-4"></div>
        <div class="col-4">
            <a href="https://getbootstrap.esdocu.com/"><div class="card bg-dark d-flex h-100 align-items-center">
                <p class="text-light text-center m-auto">AGREGAR NUEVO VOLUNTARIO</p>
            </div></a>
        </div>
        <div class="col-4"></div>
    </div>

</div>